.about {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 9;
  visibility: hidden;

  &__content {
    position: relative;
    height: 100%;
    width: 600px;
    padding: 150px 50px 50px;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: all .4s .1s;

    .bodyfont:last-child {margin-top: 50px;}
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.4);
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s;
  }

  &__close {
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 50px;
    width: 25px;
  }

  &.open {
    visibility: visible;

    .about__overlay {
      visibility: visible;
      opacity: 1;
    }

    .about__content {
      transform: translateX(0);
    }
  }
}

/*------------------------------------*/

// 600px
@media screen and (max-width: $s){
  .about {
    &__content {
      width: 100%;
      padding: 100px 30px 30px;
    }

    &__close {
      top: 30px;
      left: 30px;
    }
  }
}
