.button {
  position: relative;
  display: inline-block;
  @extend .pre-title;
  padding: 28px 44px;
  border: 1px solid #fff;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    opacity: 0;
    transform-origin: center;
    transition: all .5s cubic-bezier(.65,.05,.36,1);
  }

  &:hover:before {
    transform: translate(-50%, -50%) scale(10);
    opacity: .3;
  }

  &--small {
    padding: 20px 30px;
  }
}
