* {
  box-sizing:border-box;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}

::selection {

}

body {
  position: fixed;
  width: 100%;
  min-width:320px;
  overflow-x:hidden;
  -moz-osx-font-smoothing:grayscale;
  -webkit-font-smoothing:antialiased;
          font-smoothing:antialiased;
  background: #222222;
}
