@font-face {
  font-family: 'Morganite';
  src: url('../fonts/Morganite-ExtraBold.woff2') format('woff2'),
       url('../fonts/Morganite-ExtraBold.woff') format('woff')
}

.header {
  font-family: 'Morganite', sans-serif;
  font-weight: normal;
  letter-spacing: 0.02em;
  margin: 0;
  text-transform: uppercase;
  color: #fff;
}

.pre-title {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 0.02em;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff;
  font-size: 14px;
  z-index: 1;
}

.bodyfont {
  font-family: 'Source Serif Pro', serif;
  font-size: 16px;
  color: #D1D4D4;
  line-height: 1.6em;
}

.link {
  color: #fff;
  font-weight: bold;
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }
}

/*-------------------------------*/

// font sizes
.fs--header {
  font-size: 12vw;
}

.fs--50 {
  font-size: 50px;
}

.fs--20 {
  font-size: 20px;
}

.fs--18 {
  font-size: 18px;
}

.fs--16 {
  font-size: 16px;
}

/*-------------------------------*/

// font colours
.font--white {
  color: #fff;
}

.font--black {
  color: $black;
}

/*--------------------------------------*/

// Caps header font size to 200px past 1666px
@media screen and (min-width: 1666px) {
  .fs--header {
    font-size: 200px;
  }
}

// Caps header font size to 65px below 540px
@media screen and (max-width: 540px) {
  .fs--header {
    font-size: 80px;
  }
}

/*--------------------------------------*/
