.loader {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;

  &__bar {
    position: absolute;
    top: 0;
    left: 0;
    width: 33.35%;
    height: 100%;
    background: $black;

    &--left {
      left: 0;
    }
    &--center {
      left: 50%;
      transform: translateX(-50%);
      border-left: 1px solid #242426;
      border-right: 1px solid #242426;
    }
    &--right {
      right: 0;
      left: auto;
    }
  }

  &__map {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.05);
    animation: grow 3s ease;
    opacity: 1;
    width: 50%;
    min-width: 500px;
  }

  &__text {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    font-weight: 300;
    line-height: 1.3em;
    color: #fff;
    width: 790px;
    position: absolute;
    text-align: center;
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    visibility: hidden;

    &--2 span:nth-child(n+11) {
      font-weight: 600;
    }

    .letter {
      position: relative;
    }
  }

  &__loading-bar {
    position: absolute;
    width: 80%;
    height: 1px;
    background: #fff;
    top: 80%;
    left: 50%;
    transform: translateX(-50%);

    .pre-title {
      position: absolute;
      top: 25px;
      left: 50%;
      transform: translateX(-50%);
    }

    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 6px;
      background: #fff;
      transform: translateY(-50%);
      transition: 12s all linear;
      animation: loading 15s linear;
    }
  }
}

@keyframes loading {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes grow {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }

  100% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

/*------------------------------------*/

// 750px
@media screen and (max-width: $m){
  .loader {
    &__text {
      max-width: 600px;
      font-size: 26px;
    }
  }
}

/*------------------------------------*/

// 600px
@media screen and (max-width: $s){
  .loader {
    &__text {
      max-width: 500px;
    }
  }
}

/*------------------------------------*/

// 500px
@media screen and (max-width: $xs){
  .loader {
    &__text {
      max-width: 400px;
      font-size: 24px;
    }
  }
}

/*------------------------------------*/

// 400px
@media screen and (max-width: $xxs){
  .loader {
    &__text {
      max-width: 310px;
      font-size: 22px;
    }
  }
}
