.main {

  &__issues-list {
    display: flex;
    background-size: cover;
    background-position: center;
    overflow: hidden;
  }

  &__issues-item {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    min-width: 100%;
  }

  &__issues-bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
    opacity: .5;
    transition: background 0.3s ease;
  }

  &__issues-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(18,17,20,1) 0%, rgba(18,17,20,0.2) 100%);
    visibility: hidden;
  }

  &__issues-centre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 280px);
    width: 65%;
    background-size: cover;
    background-position: center;

    .header {
      opacity: .6;
    }
  }

  &__arrow-right {
    position: absolute;
    right: -100px;
    width: 50px;

    &--deforest {
      opacity: .4;
    }
  }

  &__arrow-left {
    position: absolute;
    left: -100px;
    width: 50px;

    &--ocean {
      opacity: .4;
    }
  }

  &__issues-wrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: transparent;
    z-index: 9;
  }

  &__nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 140px;
    padding: 0 100px;
  }

  &__nav-item {
    width: calc(33.33% - 20px);
  }

  &__nav-link {
    display: inline-block;
    width: 100%;
    opacity: .6;
    transition: all .3s .3s;

    &.active {
      opacity: 1;
      &:after {height: 3px;}
    }

    &:after {
      content: '';
      position: relative;
      display: inline-block;
      height: 1px;
      width: 100%;
      margin-top: 15px;
      background: #fff;
    }
  }

  &__page {
    position: absolute;
    top: 140px;
    left: 0;
    width: 100%;
    height: calc(100vh - 140px);
    background: transparent;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    overflow-y: scroll;
    visibility: hidden;
  }

  &__page-container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 30px;

    max-width: 1100px;
    margin: 0 auto;
    padding: 100px 25px;

    .button--back {
      grid-column: 1 / span 11;
      grid-row: 1;
      margin: 0 auto;
    }
  }

  &__column-one-text {
    grid-column: 2 / span 4;
    grid-row: 3;
    color: #fff;
  }

  &__column-two-text {
    grid-column: 7 / span 4;
    grid-row: 3;
    color: #fff;
    padding-top: 75px;
  }

  &__image {
    width: 100%;
    height: auto;

    &--one {
      grid-column: 1 / span 5;
      grid-row: 4 / span 1;
    }

    &--two {
      grid-column: 7 / span 5;
      grid-row: 4 / span 1;
    }
  }

  &__end {
    grid-column: 1 / span 11;
    grid-row: 9;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    background: #1211145a;
    padding: 60px;
  }

  &__end-buttons {
    margin-top: 50px;
  }
}

/*------------------------------------*/

// 960px
@media screen and (max-width: $l){
  .main {
    &__column-one-text {
      grid-column: 1 / span 5;
    }

    &__column-two-text {
      grid-column: 7 / span 5;
    }
  }
}

/*------------------------------------*/

// 750px
@media screen and (max-width: $m){
  .main {
    &__page-container {
      padding: 50px 25px 100px;
    }

    &__column-one-text {
      grid-column: 1 / span 11;
      grid-row: 2;
    }

    &__column-two-text {
      grid-column: 1 / span 11;
      grid-row: 4;
      padding: 0;
    }

    &__image {
      &--one {
        grid-column: 1 / span 11;
        grid-row: 3;
      }

      &--two {
        grid-column: 1 / span 11;
        grid-row: 5;
      }
    }
  }
}

/*------------------------------------*/

// 600px
@media screen and (max-width: $s){
  .main {
    &__issues-centre {
      height: calc(100vh - 200px);
      width: calc(100% - 50px);
    }

    &__page {
      top: 100px;
      height: calc(100vh - 100px);
    }

    &__end {
      padding: 25px;
      .pre-title:not(.button) {font-size: 18px;}
      .bodyfont {font-size: 16px;}
    }

    &__arrow-right {
      right: 30px;
      bottom: 30px;
    }

    &__arrow-left {
      left: 30px;
      bottom: 30px;
    }

    &__nav {
      display: none;
    }
  }
}
