.site-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 100px;
  background: transparent;
  z-index: 9;

  &__logo {
    font-size: 38px;
    line-height: 30px;
    max-width: 100px;
    text-align: center;
  }

  &__icon {
    width: 25px;
    transition: all .2s;

    &:hover {
      transform: scale(1.15);
    }
  }
}

/*------------------------------------*/

// 750px
@media screen and (max-width: $m){
  .site-header {
    padding: 40px 50px;
  }
}

/*------------------------------------*/

// 600px
@media screen and (max-width: $s){
  .site-header {
    padding: 25px;

    &__logo {
      font-size: 34px;
      line-height: 26px;
    }
  }
}
